
<div class="clearfix">
   <%= f.label :name, t("activerecord.attributes.song.name", :default => "Name"), :class => :label %>
  <div class="input">
    <%= f.text_field :name, :class => 'text_field' %>
  </div>
</div>

<div class="clearfix">
   <%= f.label :kind, t("activerecord.attributes.song.kind", :default => "Kind"), :class => :label %>
  <div class="input">
    <%= f.text_field :kind, :class => 'text_field' %>
  </div>
</div>

<div class="clearfix">
   <%= f.label :format, t("activerecord.attributes.song.format", :default => "Format"), :class => :label %>
  <div class="input">
    <%= f.text_field :format, :class => 'text_field' %>
  </div>
</div>

<div class="clearfix">
   <%= f.label :channels, t("activerecord.attributes.song.channels", :default => "Channels"), :class => :label %>
  <div class="input">
    <%= f.text_field :channels, :class => 'text_field' %>
  </div>
</div>

<div class="clearfix">
   <%= f.label :bit_rate, t("activerecord.attributes.song.bit_rate", :default => "Bit rate"), :class => :label %>
  <div class="input">
    <%= f.text_field :bit_rate, :class => 'text_field' %>
  </div>
</div>

<div class="clearfix">
   <%= f.label :encoder, t("activerecord.attributes.song.encoder", :default => "Encoder"), :class => :label %>
  <div class="input">
    <%= f.text_field :encoder, :class => 'text_field' %>
  </div>
</div>

<div class="clearfix">
   <%= f.label :sample_rate, t("activerecord.attributes.song.sample_rate", :default => "Sample rate"), :class => :label %>
  <div class="input">
    <%= f.text_field :sample_rate, :class => 'text_field' %>
  </div>
</div>

<div class="clearfix">
   <%= f.label :date_modified, t("activerecord.attributes.song.date_modified", :default => "Date modified"), :class => :label %>
  <div class="input">
    <%= f.date_select :date_modified, :class => 'date_select' %>
  </div>
</div>

<div class="clearfix">
   <%= f.label :length, t("activerecord.attributes.song.length", :default => "Length"), :class => :label %>
  <div class="input">
    <%= f.number_field :length, :class => 'number_field' %>
  </div>
</div>
<div class="form-actions">
  <button class="btn primary" type="submit">Save</button> or
	<%= link_to "Cancel", songs_path %>
</div>
