
<label class="label"><%= t("activerecord.attributes.song.name", :default => t("activerecord.labels.name", :default => "Name")) %>:</label>
<p><%= @song.name %></p>

<label class="label"><%= t("activerecord.attributes.song.kind", :default => t("activerecord.labels.kind", :default => "Kind")) %>:</label>
<p><%= @song.kind %></p>

<label class="label"><%= t("activerecord.attributes.song.format", :default => t("activerecord.labels.format", :default => "Format")) %>:</label>
<p><%= @song.format %></p>

<label class="label"><%= t("activerecord.attributes.song.channels", :default => t("activerecord.labels.channels", :default => "Channels")) %>:</label>
<p><%= @song.channels %></p>

<label class="label"><%= t("activerecord.attributes.song.bit_rate", :default => t("activerecord.labels.bit_rate", :default => "Bit rate")) %>:</label>
<p><%= @song.bit_rate %></p>

<label class="label"><%= t("activerecord.attributes.song.encoder", :default => t("activerecord.labels.encoder", :default => "Encoder")) %>:</label>
<p><%= @song.encoder %></p>

<label class="label"><%= t("activerecord.attributes.song.sample_rate", :default => t("activerecord.labels.sample_rate", :default => "Sample rate")) %>:</label>
<p><%= @song.sample_rate %></p>

<label class="label"><%= t("activerecord.attributes.song.date_modified", :default => t("activerecord.labels.date_modified", :default => "Date modified")) %>:</label>
<p><%= @song.date_modified %></p>

<label class="label"><%= t("activerecord.attributes.song.length", :default => t("activerecord.labels.length", :default => "Length")) %>:</label>
<p><%= @song.length %></p>

<div class="form-actions">
<%= link_to "Back", songs_path, :class => 'btn'  %>
<%= link_to "Edit", edit_song_path(@song), :class => 'btn' %>
<%= link_to "Delete", song_path(@song), :method => "delete", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => 'btn' %>
</div>
