<h1>Listing albums</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Year</th>
    <th>Num tracks</th>
    <th>Num disks</th>
    <th>Artwork</th>
    <th>Rating</th>
    <th>Genre</th>
    <th>Comments</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @albums.each do |album| %>
  <tr>
    <td><%= album.name %></td>
    <td><%= album.year %></td>
    <td><%= album.num_tracks %></td>
    <td><%= album.num_disks %></td>
    <td><%= album.artwork %></td>
    <td><%= album.rating %></td>
    <td><%= album.genre %></td>
    <td><%= album.comments %></td>
    <td><%= link_to 'Show', album %></td>
    <td><%= link_to 'Edit', edit_album_path(album) %></td>
    <td><%= link_to 'Destroy', album, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Album', new_album_path %>
